html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  font-weight: 100;
  line-height: 1.5;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header, #content {
  width: 100%;
  max-width: 800px;
  margin: 0;
}

#content {
  padding: 20px 20px 20px 20px;
  width: calc(100% - 50px);
  text-align: center;
  border: 5px solid #000000;
  border-radius: 50px;
  margin-bottom: 50px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 1;
  margin-bottom: 0;
}

a {
  color: #0A69DA;
  position: relative;
  top: 0px;
  text-decoration: underline;
}

:root[color-theme='light'] {
  background: #ffffff;
  Color: #000000;
}

:root[color-theme='dark'] {
  background: #121212;
  Color: #e0e0e0;
}

:root[color-theme='dark'] #content {
  border: 5px solid #e0e0e0;
}

:root[color-theme='dark'] a {
  Color: #4593F8;
}
